* {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 30px;
}

/*Implementacion del Display*/
/*inline-block , inline*/

/*Padding*/
/*Podemos poner paddings individuales o poner solo padding: N px */
h2 {
  background-color: blue;
  display: inline-block;
  padding: 100px;
  box-sizing: border-box;
  text-align: center;
  /*
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  */
  /*En orden como parametros (Top, Right, Bottom, Left)*/
  /*padding: 20px 20px 20px 20px;*/
}

/*Margin & Border*/

h2 {
  margin: 20px;
  border-radius: 2em;
  border: 5px solid black;
}
